@import "tailwindcss";

@theme {
  --color-primary: oklch(0.268 0.01 67.558);
  --color-primary-light: oklch(0.553 0.003 48.717);
  --color-secondary: oklch(39.6% 0.141 25.723);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
